/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.hero {
  height: 76vh;
  width: 100%;
}
.hero img {
  width: 100%;
  height: 76%;
  z-index: -1;
  object-fit: cover;
  position: absolute;
  top: 10;
}
.hero .hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero .hero-content h1 {
  font-size: 2.5rem;
  color: #fff;
}
.hero .hero-content p {
  font-size: 1.2rem;
  color: #ffd;
  text-transform: uppercase;
  font-weight: bold;
}
.hero .hero-content a {
  padding: 10px 20px;
  background: #f0a500;
  color: white;
  border: none;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #333;
  color: white;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  z-index: 50;
}
.nav a {
  color: white;
  transition: color 0.3s;
}
.nav a:hover {
  color: #f0a500;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Hero Section */

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px 10px; */
}
.social-links {
  margin-top: 10px;
}
.social-links a {
  margin: 0 10px;
  color: #f0a500;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav ul {
    flex-direction: column;
    background: #444;
    text-align: end;
    padding: 1rem;
    position: absolute;
    top: 70px;
    right: 0;
    height: 90vh;
    width: 200px;
    display: none;
  }
  .nav ul.show {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}
